mixin drinksCategories(categories)
	div.columns.is-gapless
		div.column(style="text-align: center")
			a(href=`/drinks`)
				p All
		- for(let i=0; i < categories.length; i+= 1)
			div.column(style="text-align: center")
				a(href=`/drinks/search?category=${categories[i].category}`)
					= categories[i].category
		div.column(style="text-align: right")
			a(href=`/categories/`)
				img(src=`https://image.flaticon.com/icons/svg/25/25688.svg`, style="width:17%; padding: 2px")