extends ../layout
include ../mixin/ordersList
block title
	='Orders - List'

block content
	h1.title Order List
	.field
		+ordersList(ordersList)
	.field
		.control
			a(href=`/orders/new`)
				button.button.is-link.is-fullwidth Add new order